<div class="table-responsive">
    <table class="table border border-primary bg-light">
      <thead class="table-dark">
        <tr>
          <th scope="col-2">WAREHOUSE</th>
          <th scope="col-2">QUANTITY</th>
          <th scope="col-2"></th>
          <th scope="col-2"></th>
        </tr>
      </thead>
        <thead class="table-dark">
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">FULL</th>
            <th scope="col">3/4</th>
            <th scope="col">HALF</th>
            <th scope="col">PART</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of warehouseProducts()" >
            <th scope="row">{{item.productName}}</th>
            <th scope="row">{{item.quantity.full}}</th>
            <th scope="row">{{item.quantity.threeQuarters}}</th>
            <th scope="row">{{item.quantity.half}}</th>
            <th scope="row">{{item.quantity.part}}</th>
          </tr>
        </tbody>
      </table>
</div>
