<div class="container">

  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark mb-5">
    <div class="container-fluid">
        <div class="navbar-brand">ACCOUNTING INVENTORY MANAGER  <a class="navbar-toggler btn border-light bg-info" (click)="menuCollapse()">&#9776;</a> </div>
     
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse ">
        <ul class="navbar-nav bg-dark">
          <li class="nav-item" routerLink="home"><a class="nav-link">HOME</a></li>
          <li class="nav-item">
            <div ngbDropdown  class="">
               <a class="nav-link" ngbDropdownToggle>WAREHOUSE</a>
               <div ngbDropdownMenu >
                <button ngbDropdownItem (click)="openTransactionDialog('Return')">RETURN INVENTORY</button>
                <button ngbDropdownItem (click)="openTransactionDialog('Pick')"  >INVENTORY PICKING ORDER</button>
                <!-- <button ngbDropdownItem (click)="openNewProductDialog()">New Product</button> -->   
               </div>
            </div>
           </li>
          <li class="nav-item"><a class="nav-link" (click)="toggleProjects()">{{buttonTitle}}</a></li>
        </ul>
      </div>

    </div>
  </nav>

</div>
<div class="container mt-5">
    <div class="row mt-5">
     <div class="col-md-6 col-12 col-sm-12 mt-5">
        <app-warehouse-main-table></app-warehouse-main-table>
     </div>
    <div *ngIf="activeProjects" class="col-md-5 col-sm-12 offset-md-1 mt-5 ">
      <app-project-main-table></app-project-main-table>
    </div>
    </div>
</div>
